* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  header {
    height: 50px;
    background-color: lightgrey;
  }
  
  footer {
    height: 50px;
    background-color: lightgrey;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  main {
    height: calc(100vh - 100px); /* To account for header and footer */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #circle {
    width: 150px;
    height: 150px;
    background-color: grey;
    border-radius: 50%;
  }

  #circle.available {
    background-color: #ff545f;
  }
  