/* custom.css */


/* Ensure full height for html and body */
html, body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

/* Main content area should expand to fill available space */
main {
  flex-grow: 1;
  margin-top: 10px; /* 10px margin from the header */
}

/* Footer stays at the bottom */
footer {
  flex-shrink: 0;
}


.carousel-item img {
  border-radius: 15px; /* Adjust this value as needed */
}

.pt-5 {
  padding-top: 0rem !important;
}

.mb-4 {
  margin-top: 1.5rem;
}