/* custom.css */

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



.carousel-item img {
    border-radius: 15px; /* Adjust this value as needed */
}