{% extends 'base.html' %}

{% block title %}Cart - E-Shop{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Shopping Cart</h2>
    <div class="row">
        {% if cart_items %}
            {% for item in cart_items %}
            <div class="col-md-4 mb-4">
                <div class="card border-light shadow-sm">
                    <img src="{{ item.product.image_url or url_for('static', filename='default_product_image.jpg') }}" class="card-img-top" alt="{{ item.product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.product.name }}</h5>
                        <p class="card-text">${{ item.product.price }}</p>
                        <p class="card-text">Quantity: {{ item.quantity }}</p>
                        <form action="{{ url_for('carts.remove_from_cart', product_id=item.product.id) }}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Remove</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-12 mt-5 text-center"> <!-- Increase margin-top here -->
                <form action="{{ url_for('carts.checkout') }}" method="post">
                    <button type="submit" style="margin-bottom: 10px;" class="btn btn-primary btn-lg">Place Order</button>
                </form>
            </div>
        {% else %}
            <div class="col-12 text-center">
                <p class="text-muted">Your cart is empty.</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
