{% extends 'base.html' %}

{% block title %}Home - E-Shop{% endblock %}

{% block content %}
<!-- Full-width Carousel -->
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='images/image1.jpg') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/image2.jpg') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='images/image3.jpg') }}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Full-width Categories Section -->
<div class="container-fluid mb-4">
    <h2 class="mb-4">Categories</h2>
    <div class="overflow-auto overflow-auto-x">
        <div class="d-flex flex-nowrap">
            {% for category in categories %}
            <div class="card border-light shadow-sm me-3" style="flex: 0 0 auto; width: 18rem;">
                <img src="{{ category.image_url or url_for('static', filename='default_category_image.jpg') }}" class="card-img-top" alt="{{ category.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ category.name }}</h5>
                    <p class="card-text">{{ category.description }}</p>
                    <a href="{{ url_for('home.category', category_id=category.id) }}" class="btn btn-primary">View Products</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container mb-4">
  <h2 class="mb-4">New Products</h2>
  <div class="overflow-auto">
      <div class="d-flex flex-nowrap">
          {% for product in new_products %}
          <div class="card border-light shadow-sm me-3" style="flex: 0 0 auto; width: 18rem;">
              <a href="{{ url_for('products.product_detail', product_id=product.id) }}">
                  <img src="{{ product.image_url or url_for('static', filename='default_product_image.jpg') }}" class="card-img-top" alt="{{ product.name }}">
              </a>
              <div class="card-body">
                  <a href="{{ url_for('products.product_detail', product_id=product.id) }}" class="text-decoration-none text-dark">
                      <h5 class="card-title">{{ product.name }}</h5>
                  </a>
                  <p class="card-text">${{ product.price }}</p>
                  <div class="d-flex">
                        <form id="add-to-cart-form" class="me-2">
                            <button type="button" data-product-id="{{ product.id }}" class="btn btn-primary add-to-cart">
                                <i class="fas fa-cart-plus"></i> Add to Cart
                            </button>
                        </form>
                      <form action="{{ url_for('favorites.add_to_favorites', product_id=product.id) }}" method="post">
                          <button type="submit" class="btn btn-secondary"><i class="fas fa-heart"></i> Add to Favorites</button>
                      </form>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>

<div class="container mb-4">
  <h2 class="mb-4">All Products</h2>
  <div class="row">
      {% for product in all_products %}
      <div class="col-md-3 mb-4">
          <div class="card border-light shadow-sm">
              <a href="{{ url_for('products.product_detail', product_id=product.id) }}">
                  <img src="{{ product.image_url or url_for('static', filename='default_product_image.jpg') }}" class="card-img-top" alt="{{ product.name }}">
              </a>
              <div class="card-body">
                  <a href="{{ url_for('products.product_detail', product_id=product.id) }}" class="text-decoration-none text-dark">
                      <h5 class="card-title">{{ product.name }}</h5>
                  </a>
                  <p class="card-text">${{ product.price }}</p>
                  <div class="d-flex">
                    <form id="add-to-cart-form" class="me-2">
                        <button type="button" data-product-id="{{ product.id }}" class="btn btn-primary add-to-cart">
                            <i class="fas fa-cart-plus"></i> Add to Cart
                        </button>
                    </form>
                    
                      <form action="" method="post">
                          <button type="submit" class="btn btn-secondary"><i class="fas fa-heart"></i> Add to Favorites</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>

{% endblock %}
